/* --- Layout Principal --- */
.profile-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 60px 20px 130px;
}

.profile-container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.profile-sidebar {
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
}

.profile-content .form-label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #333; 
  margin-bottom: 8px;
}

.profile-card {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.profile-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 8px;
  margin-top: 0;
}

.profile-subtitle {
  font-size: 16px;
  color: #666;
  margin-bottom: 32px;
}

/* --- Card da Sidebar --- */
.profile-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #E53E3E;
  margin-bottom: 16px;
}

.profile-user-name {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.profile-user-email {
  font-size: 14px;
  color: #666;
  margin-top: 4px;
  margin-bottom: 24px;
}

.stat-block {
  width: 100%;
  border-radius: 12px;
  padding: 4px 8px;
  text-align: center;
  margin-bottom: 16px;
}

.stat-block.capibas {
  background-color: #FFF0F0;
}

.stat-block.doacoes {
  background-color: #FEEFFD;
  margin-bottom: 0;
}

.stat-block-title {
  font-size: 16px;
  color: #555;
  margin-bottom: 0%;
}

.stat-block-value {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0px;  
  line-height: 1;  
}

.stat-block.capibas .stat-block-value {
  color: #E53E3E;
}

.stat-block.doacoes .stat-block-value {
  color: #D6338A;
}

/* --- Formulário (Conteúdo da Direita) --- */
.profile-form-title {
  font-size: 20px;
  font-weight: bold;
  color: #E53E3E;
  margin-bottom: 24px;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
}

.form-input,

.form-select {
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
  background-color: #FAFAFA;
  box-sizing: border-box; 
  color: #333; 
}

.form-select option {
  color: #333;
}

.form-input:read-only {
  background-color: #EFEFEF;
  color: #555;
  cursor: not-allowed;
}

.form-helper-text {
  font-size: 12px;
  color: #777;
  margin-top: 6px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.form-button {
  width: 100%;
  padding: 16px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #E53E3E;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 16px;
}

.profile-sidebar .profile-card {
  flex-grow: 1; 
}

